@import '../../_css/common';

.card {
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 12px 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;

  @include small-break {
    padding: calc(var(--base) / 2);
    gap: calc(var(--base) / 4);
  }
}

.title {
  margin: 0;
  font-size: 20px;
  font-weight: 400;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.centerAlign {
  align-items: center;
}

.body {
  flex-grow: 1;
}

.priceActions {
  gap: var(--base);
}

.price {
  font-weight: 600;
  margin: 0;
}

.leader {
  @extend %label;
  display: flex;
  gap: var(--base);
}

.description {
  margin: 0;
  line-height: 24px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hideImageOnMobile {
  @include mid-break {
    display: none;
  }
}

.mediaWrapper {
  position: relative; // Make the mediaWrapper the positioning context for the sale tag
  text-decoration: none;
  display: block;
  position: relative;
  min-height: 260px;
  background-color: var(--theme-elevation-50);
  @include small-break {
    min-height: 200px;
  }
}

.saleTag {
  position: absolute;
  bottom: 8px; // Adjust this value as needed for the exact positioning
  left: 8px;  // Adjust this value as needed for the exact positioning
  background-color: black; // Example background color for better visibility
  color: white;            // Text color
  padding: 4px 12px;        // Padding around the text
  font-size: 14px;         // Adjust font size as needed
  border-radius: 24px;      // Optional: Adds a bit of rounding to the tag
  z-index: 10;
  border: 1px solid transparent;
  letter-spacing: .1rem;
  line-height: 1;
  text-align: center;
}

.image {
  width: 100%;         // Full width
  height: 100%;        // Full height
  object-fit: cover;   // Ensures the image covers the container
  aspect-ratio: 1 / 1; // Optional: Maintains square aspect ratio
  max-width: 100%;
}

.placeholder {
  background-color: var(--theme-elevation-50);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  display: flex;
  align-items: center;

  @include mid-break {
    flex-direction: column;
    align-items: flex-start;
  }
}

.originalPrice{
  text-decoration: line-through;
  font-weight: 50;
  font-size: small;
  padding: 4px;
}

.currentPrice{
  font-weight: 200;
  font-size: medium;
  padding: 4px;
}
