@import '../../css/common';

// this is to make up for the space taken by the fixed header, since the scroll method does not accept an offset parameter
.scrollRef {
  position: absolute;
  left: 0;
  top: calc(var(--base) * -5);
  @include mid-break {
    top: calc(var(--base) * -2);
  }
}

.introContent {
  position: relative;
  margin-bottom: calc(var(--base) * 2);

  @include mid-break {
    margin-bottom: var(--base);
  }
}

.resultCountWrapper {
  display: flex;
  margin-bottom: calc(var(--base) * 2);

  @include mid-break {
    margin-bottom: var(--base);
  }
}

.pageRange {
  margin-bottom: var(--base);

  @include mid-break {
    margin-bottom: var(--base);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cards in a row for large screens */
  gap: 30px; /* Add space between the cards */

  /* For tablet and smaller screens (max-width 768px) */
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr); /* 2 cards in a row for smaller screens */
    gap: 20px; /* Adjust gap for smaller screens */
  }

  /* For mobile and extra-small screens (max-width 480px) */
  @media (max-width: 480px) {
    grid-template-columns: repeat(2, 1fr); /* Still show 2 cards in a row on mobile */
    gap: 15px; /* Further adjust gap for very small screens */
  }
}

.pagination {
  margin-top: calc(var(--base) * 2);
  display: flex;
  justify-content: center;

  @include mid-break {
    margin-top: var(--base);
  }
}
