@use '@/css/queries.scss' as *;

.card {
  position: relative;
  background-color: var(--theme-elevation-50);
  min-height: 360px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
  cursor: pointer;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  border-radius: 10px;
  padding: 12px;
  width: 100%;
  text-align: center;
  background-color: var(--theme-elevation-200);
  text-decoration: none; /* Removes underline */
  text-transform: uppercase; /* Makes text all caps */
}
