@import '../../../_css/common'; /* Assuming this imports both queries.scss and type.scss */

/* Styles for items */
.items {
  margin: 30px 0;
}

.header {
  display: grid;
  grid-template-columns: 80px 5fr 1fr;
  gap: 24px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--theme-elevation-50);

  @include small-break {
    display: none; /* Hide on small screens */
  }
}

.headerItemDetails {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.headersubtotal {
  text-align: end;
}

.subtotal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.orderTotal {
  margin-top: var(--base);
  font-weight: 600;
  text-align: end;
  display: flex;
  justify-content: space-between;
  padding: 24px;
  margin-bottom: 60px;
  background-color: var(--theme-elevation-50);
}

.payment {
  margin-bottom: 40px;
}

.loading,
.error {
  margin-top: calc(var(--block-padding) - var(--base));
}

.quantity {
  text-align: center;
  font-size: 18px;

  @include small-break {
    text-align: start;
    font-size: 16px;
  }
}

/* Checkout Grid Layout */
.checkout-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two-column layout by default */
  gap: 1rem;
  justify-items: center;
  align-items: start;

  @include mid-break {
    grid-template-columns: 1fr; /* Switch to single column on mid break */
  }
}

.order-items-container,
.payment-details-container {
  min-width: 400px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-width: 900px;

  @include small-break {
    min-width: 100%; /* Full width on smaller screens */
  }

  @include extra-small-break {
    padding: 10px; /* Adjust padding for extra small screens */
  }
}

.order-items {
  margin: 0 auto;
}

.order-items .header {
  display: flex;
  justify-content: space-between;
}

.order-items .headerItemDetails {
  display: flex;
  justify-content: space-between;
}

.order-items .orderTotal {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

/* Media Queries for Responsive Layout */
@include small-break {
  .checkout-container {
    grid-template-columns: 1fr; /* Stack items in one column on small screens */
  }

  .header {
    display: none; /* Hide header in smaller screens */
  }
}

@include extra-small-break {
  .checkout-container {
    grid-template-columns: 1fr;
    min-width: 100%; /* Full width on extra small devices */
  }

  .order-items-container,
  .payment-details-container {
    min-width: 100%; /* Full width */
    padding: 8px; /* Adjust padding */
  }
}
