.header {
  padding: 12px 0;
  background: var(--theme-elevation-50);
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base)
}

.logo {
  width: 170px;
}

.hide {
  display: none;
}

.logo {
  width: 150px;
}

:global([data-theme="dark"]) {
  .logo {
    filter: invert(1);
  }
}